<h2>Soal 1: Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [2]:
# Membuat dataframes dari dictionary
import pandas as pd
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

<h2>Soal 2: Membaca data dari file</h2>

Download file bernama [diamonds.csv](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd), kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [3]:
# Membaca data dan memasukannya kedalam suatu variabel
data = pd.read_csv("/content/drive/MyDrive/PKS DIgital School/diamonds-1.csv")
data

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

Expected Result:

![alt text](https://drive.google.com/uc?id=1BvgM5mJEVfj0fllrjkBfQwn0QIFkry_t)

<h2>Soal 3: DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

Jawab:

In [8]:
# code here
print("Series bisa mempunyai key yang duplikat sementara dictionary tidak bisa")
print("Series memiliki kemampuan untuk data tidak sepert dictionary")
print("Series hanya memiliki satu data tipe yang sama sementara list bisa dengan data tipe berbeda-beda")
print("DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel dan Series adalah objek 1 dimensi")

df = pd.DataFrame({'Provinsi': ["Jawa Barat", "Jawa Timur"], 'Ibu Kota': ['Bandung', 'Surabaya']})
print(df)

Series bisa mempunyai key yang duplikat sementara dictionary tidak bisa
Series memiliki kemampuan untuk data tidak sepert dictionary
Series hanya memiliki satu data tipe yang sama sementara list bisa dengan data tipe berbeda-beda
DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel dan Series adalah objek 1 dimensi
     Provinsi  Ibu Kota
0  Jawa Barat   Bandung
1  Jawa Timur  Surabaya

<h2>Soal 4: Pemeriksaan Data Sederhana</h2>

Di soal no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari:
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [ ]:
# code here
print(data.price.head(1))
nilai_pertama = data.loc[0, 'price']
print("Nilai Price pada Baris Pertama:", nilai_pertama)
print("\n###############\n")
print(data.color.tail(1))
nilai_terakhir = data.loc[data.index[-1], 'color']
print("Nilai Color pada Baris Terakhir:", nilai_terakhir)

0    326
Name: price, dtype: int64
Nilai Price pada Baris Pertama: 326

###############

53939    D
Name: color, dtype: object
Nilai Color pada Baris Terakhir: D

<h2>Soal 5: Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Jawab:

<h2>Soal 6: Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [ ]:
# code here
print ('salah satu bagian dari ilmu statistika yang berhubungan dengan aktivitas\npenghimpunan, penataan, peringkasan dan penyajian data dengan harapan agar data lebih bermakna\nmudah dibaca dan mudah dipahami oleh pengguna data\nmeliputi pengumpulan, pengelompokan dan pengolahan data yang selanjutnya akan menghasilkan\nukuran-ukuran statistik seperti frekuensi, pemusatan data, penyebaran data, kecenderungan suatu gugus data dan lain-lain')

salah satu bagian dari ilmu statistika yang berhubungan dengan aktivitas
penghimpunan, penataan, peringkasan dan penyajian data dengan harapan agar data lebih bermakna
mudah dibaca dan mudah dipahami oleh pengguna data
meliputi pengumpulan, pengelompokan dan pengolahan data yang selanjutnya akan menghasilkan
ukuran-ukuran statistik seperti frekuensi, pemusatan data, penyebaran data, kecenderungan suatu gugus data dan lain-lain

Jawab: